<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button
      class="btn btn-primary"
      (click)=" onlyodd=!onlyodd ">show only odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *
        ngIf="onlyodd">
          <li class="list-group-item" *ngFor="let odd of oddnumbers">
            {{odd}}
          </li>
        </div>
        <div *ngIf="!onlyodd" >
          
          <li class="list-group-item" *ngFor="let even of renumbers">
            {{even}}
            
          </li>
        </div>

      </ul>
    </div>
  </div>
</div>
